# =========================
# UNITY GENERATED FOLDERS
# =========================
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# =========================
# IDE / EDITOR FILES
# =========================
.vs/
.gradle/
.consulo/
ExportedObj/

# Visual Studio / Rider
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.DotSettings.user

# =========================
# UNITY AUTO FILES
# =========================
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
mono_crash.*

# =========================
# BUILD FILES (IMPORTANT)
# =========================
*.apk
*.aab
*.app
*.unitypackage
*.unitypackage.meta

# =========================
# CACHE / LARGE FILES
# =========================
*.log
[Mm]emoryCaptures/
[Rr]ecordings/

# =========================
# ADDRESSABLES
# =========================
/ServerData
Assets/StreamingAssets/aa*
Assets/AddressableAssetsData/*/*.bin*
Assets/AddressableAssetsData/link.xml*
Assets/Addressables_Temp*

# =========================
# VISUAL SCRIPTING
# =========================
Assets/Unity.VisualScripting.Generated/

# =========================
# TEST SCENES
# =========================
Assets/InitTestScene*.unity*